[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qtpy = "==2.0.1"

[dev-packages]
sphinx = "==5.3.0"
sphinx-rtd-theme = "==0.5.2"
pyqt5-stubs = "==5.15.2.0"
pyqt5 = "==5.15.7"
mypy = "==0.981"
pytest-qt = "==4.2.0"
pytest = "==7.2.1"
pytest-cases = "==3.6.13"
pytest-cov = "==3.0.0"
pylint = "==2.15.3"
pydocstyle = "==6.1.1"
typing_extensions = "==4.3.0"

[requires]
python_version = "3"
