[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qtpy = "==2.0.1"

[dev-packages]
sphinx = "==4.0.2"
sphinx-rtd-theme = "==0.5.2"
mypy = "*"
pyqt6 = "==6.3.0"

[requires]
python_version = "3"
